nav {
    display: table;
    background-color: black;
    border-top: 20px solid, black;
}

nav ul {
    display: table-row;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 1;
}

nav ul a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-weight: bold;
}

nav ul li {
    position: relative;
    display: inline-block;
    display: table-cell;
    width: 1%;
    list-style-type: none;
    text-align: center;
}

nav ul li:hover {
    background-color: crimson;
}

nav ul li:hover a {
    color: black;
}

nav ul ul{
    display: none;
    background-color: white;
    position: absolute;
    border: 1px solid black;
    width: 100%;
    float: right;
}

nav ul ul li {
    width: 100%;
    display: inline-block;
}

nav ul li:hover > ul {
    display: block;
}

.header h1 {
  font-size: 43px;
  font-family: Georgia, serif;
  color: crimson;
  text-align: center;
  border: 10px;
  text-decoration: underline;
}

*{
   margin: 0;
   padding: 0;
   box-sizing:border-box;
   font-family: helvetica; 
}
      
body{
   background-color: crimson;
}
      
.main{
   width: 500px;
   margin: 50px auto;
   border: 2px solid black;
   border-radius: 10px;
   box-shadow: 2px 2px 10px #000;
   background-color: gainsboro;
}
     
.info{
   width=100%;
   padding: 10px;
   background-color:whitesmoke;
   font-size: 30px;
   font-family: Georgia, serif;
   font-weight:bold;
   text-align: center;
   border: 5px solid black;
}
      
.form-box{
   padding:10px;
}
      
label{
   font-size:20px;
}

.inp, #msg-box{
   width:100%;
   padding:10px;
   margin-top: 3px;
   margin-bottom: 20px;
   border: 2px solid gray;
   font-weight: bold;
   border-radius: 5px;
   border-right: 20px solid crimson;
   border-left: 20px solid crimson;
}
      
#msg-box{
   resize: none;
   height: 100px;
}
      
.inp:focus, #msg-box:focus{
   outline: none;
   border: 2px solid navy;
   border-right: 20px solid navy;
   border-left: 20px solid navy;
}
      
.sub-btn{
   width: 100%;
   padding: 10px;
   margin-top: 5px;
   border: none;
   border-radius:5px;
   background: linear-gradient(#800000, crimson);
   color: #fff;
   font-size:20px;
   cursor: pointer;
}
      
.sub-btn:focus{
   outline: none;
}
      
.sub-btn:hover{
   background: linear-gradient(crimson, #800000);
   transition: all ease-out 0.5s;
}

